KAFKA_BOOTSTRAP_SERVERS=localhost:9092

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=stockdb
POSTGRES_USER=stockuser
POSTGRES_PASSWORD=stockpass

TOPIC_STOCK_PRICES=stock_prices_raw
TOPIC_STOCK_ORDERS=stock_orders_raw

